.l-left.gloval-menu {
  max-width: 680px;
  display: flex;
  justify-content: flex-end;
  flex-basis: 680px;
}
.search-window {
	display: flex;
  align-items: center;
}
._search-result .search-window {
	width: 100%;
}
.searchform {
  // right: 0;
  // position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	// margin: 0 65px 0 auto;
	// margin: 0 0 0 auto;
 	// margin: 0 0 0 24px;
  margin-right: 20px;
	-webkit-transition: opacity .25s ease 0s,width 0s linear 0s;
	transition: opacity .25s ease 0s,width 0s linear 0s;
}
.searchform .search-box {
		position: relative;
		width: 0;
		height: 41px;
		margin: 0 15px 0 0;
		margin: 0 12px 0 auto;
		border-radius: 20px;
		background: #fff;
		display: block;
    // display: none;
		opacity: 1;
		width: 317px;
		-webkit-transition: opacity .25s ease .3s,width 0s linear .3s;
		transition: opacity .25s ease .3s,width 0s linear .3s;
}
.header-search-box-icon {
	position: absolute;
	top: 13px;
	left: 13px;
	font-size: 16px;
	color: #666;
	z-index: 1;
	width: 16px;
}
::placeholder {
	color: #666;
}
.icon-search:before {
		content: "";
		border-style: solid;
		border-width: 0;
		text-decoration: inherit;
		vertical-align: inherit;
		box-sizing: inherit;
}
.searchfield {
	position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// padding: 10px 20px 10px 38px;
    padding: 13px 20px 10px 38px;
		border: 0;
		border-radius: 8px;
		outline: 0;
    font-size: 14px;
    color: #505058;
    font-weight: 700;
		background-color: #ddd;
}
.header-search-box-submit {
		display: none;
}
button {
		min-height: 1.5em;
		background-color: transparent;
		color: inherit;
		font-family: inherit;
		font-style: inherit;
		font-weight: inherit;
}
[class^=icon-] {
		font-family: "lig-icon"!important;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}
.heading-search-result {
	display: flex;
	margin-top: 16px;
  line-height: 36px;
  text-align: left;
  padding: 8px 30px 8px 48px;
  border-radius: 6px;
  background-color: #f6f6f6;
	h1 {
		color: #505058;
		font-size: 17px;
		font-weight: 700;
		line-height: 36px;
	}
	.search-result {
		color: #505058;
		font-size: 14px;
		font-weight: 700;
		line-height: 36px;
    margin-left: auto;
    position: relative;
    &:before{
    	content: "";
    	position: absolute;
    	top: 50%;
	    left: -39px;
	    display: block;
	    width: 24px;
	    height: 1px;
	    margin: -1px 0 0;
	    background: #666;
    }
	}
}
.header-search-box-submit {
		display: block;
		cursor: pointer;
		z-index: 10;
}
button .icon-search {
	appearance: none;
	display: block;
	box-sizing: border-box;
	outline: 0;
	resize: none;
	margin: 0;
	padding: 0;
	zoom: 1;
	border: none;
	font-size: inherit;
	position: absolute;
	top: 13px;
	right: 13px;
	width: 72px;
	height: 42px;
	line-height: 42px;
	letter-spacing: 4px;
	border-radius: 5px;
	font-weight: 900;
	background-color: #e6e6e6;
	color: #505058;
}
.func-search-icon,
.header-search-close {
  width: 28px;
  color: #00173B;
  cursor: pointer;
}
.search-box input::placeholder {
  color: #bbb;
}
nav.js-header-navi {
  animation: fadeIn .3s .3s;
  animation-fill-mode: both;
}
nav.js-header-navi.header-navi-hide {
  animation: fadeOut .3s;
  animation-fill-mode: both;
}
form.searchform .search-box {
  animation: fadeOut .3s;
  animation-fill-mode: both;
}
form.searchform.search-open .search-box {
  animation: fadeIn .3s .3s;
  animation-fill-mode: both;
}
.func-search-icon{
  animation: fadeIn .3s .3s;
  animation-fill-mode: both;
}
button.header-search-box-submit .icon-search {
  top: 9px;
  right: 6px;
  width: 48px;
  height: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 14px;
}
.header-search-button {
	width: 16px;
	padding-top: 12px;
	/* height: 40px; */
	right: 0;
	z-index: 10;
}
.gloval-menu .header-search-close {
  opacity: 0;
  transition: .4s;
}
@keyframes fadeIn {
  0% { opacity: 0; display: block;}
  100% { opacity: 1;}
}
@keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0; display: none;}
}
@keyframes fadeInFlex {
  0% { opacity: 0; display: flex;}
  100% { opacity: 1;}
}



